<div class="wrapper fadeInDown">
    <div id="formContent" class="container mt-5">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first mt-3 font-lobster">
            <h3> BIENVENIDO </h3>
          </div>

          <!-- Login Form -->
          <form>
            <input type="text" id="nombre" class="fadeIn second" name="login" placeholder="nombre">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Iniciar sesion">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter font-lobster">
            <p>Inicia sesion y prueba este nuevo lenguaje.</p>
          </div>

    </div>
</div>


