/* You can add global styles to this file, and also import other style files */

@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
body {
    /* Ubicación de la imagen */
    background-image: url('./assets/img/markus-spiske-FXFz-sW0uwo-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*
    background: url('./assets/img/markus-spiske-FXFz-sW0uwo-unsplash.jpg') no-repeat center top;
    background-size: cover;
    height: 100%;
    */
    font-family: 'Ibarra Real Nova', serif !important;
}

.navbar-fijo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.code {
    width: 100% !important;
    height: 100% !important;
}

.footer {
    width: 100%;
    float: left;
    clear: both;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #4dd599;
    left: 0;
}

.navbar-color {
    background-color: #4dd599;
}

.fondo-blanco {
    background-color: rgb(248, 247, 247, 0.2);
}

.font-lobster {
    font-family: 'Ibarra Real Nova', serif !important;
}